.app {
  text-align: center;
}

.app-container {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 100px;
  width: 960px;
}

.app h1 {
  margin-bottom: 50px;
  color: white;
  font-weight: 300;
}

@media only screen and (max-width: 1023px) {

  .app-container {
    width: 720px;
  }
  
}

@media only screen and (max-width: 767px) {

  .app-container {
    width: 100%;
  }

}