.goodcorner {
  display: flex;
  flex-direction: row-reverse;
}

.goodcorner__amount {
  min-width: 35px;
  text-align: center;
  line-height: 24px;
  font-size: 27px;
}

.goodcorner button {
  padding: 0;
  width: 25px;
  height: 25px;
  background: none;
  background-color: #ECB88A;
  outline: 0;
  border: 0;
  border-radius: 20px;;
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.goodcorner button:hover {
  transform: scale(1.1);
}

.goodcorner button:active {
  transform: scale(.9);
}